* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(
      rgba(0, 70, 45, 0.75),
      rgba(0, 70, 45, 0.75)
    ),
    url("image/grounds.jpg");

  background-size: cover;
  background-position: center;
}

.login-box {
  width: 90%;
  max-width: 600px;

  background: white;
  padding: 35px;

  border-radius: 15px;

  box-shadow: 0 10px 35px rgba(0,0,0,0.3);

  text-align: center;
}

.logo {
  width: 75px;
  height: 75px;

  margin: auto;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #00804b;
  color: white;

  font-size: 25px;
  font-weight: bold;
}

h1 {
  margin-top: 15px;
  color: #00804b;
  font-size: 25px;
}

p {
  margin: 8px 0 25px;
  color: #666;
}

form {
  text-align: left;
}

label {
  display: block;
  margin: 15px 0 7px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 13px;

  border: 1px solid #ccc;
  border-radius: 7px;

  outline: none;
  font-size: 15px;
}

input:focus {
  border-color:  #00804b;
  
}

button {
  width: 100%;

  margin-top: 25px;
  padding: 14px;

  border: none;
  border-radius: 7px;

  background: green;
  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
}

button:hover {
  background: #006b3c;
}

#message {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
  .Show-password{
    width: 20%;

  margin-top: none;
  padding: 10px;

  border: none;
  border-radius: 7px;

  background:green;
  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  }
